@media only screen and (max-width: 1400px) {

    .container {
        width: 90%;
    }



    .content-block {
        // background-size: cover;
        // background-position: center;
    }

    .content-info {
        width: 60%;
        padding: 6rem 2rem;
        text-shadow: 0px 2px 10px rgba(255, 254, 254, 0.833);
    }


    .content-info-4 {
        width: 100%;
        grid-template-areas:
            "desc desc desc desc"
            "prim prim sec sec";
    }

    .content-info-6 {
        width: 100%;
    }



    .footer {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        column-gap: 3rem;
        row-gap: 3rem;
        grid-template-areas:
            "c1 "
            "c2"
            "c3 " !important;

        .col2,
        .col3 {
            height: 40%;
            gap: 1rem !important;
        }
    }


}


@media only screen and (max-width: 1000px) {

    .container {
        width: 90%;
    }

    nav {
        img {
            height: 3rem;
        }

        ul {
            gap: 0rem;
            flex-direction: column;
            align-items: flex-start;
        }

        li {
            align-self: flex-start;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .navitem1,
        .navitem2,
        .navitem3,
        .navitem4,
        .navitem5 {
            display: none;

        }

        .toggleNav {
            display: block;
        }
    }

    .content-block {
        // background-size: cover;
        // background-position: center;
    }

    .content-info {
        width: 60%;
        padding: 6rem 2rem;
        text-shadow: 0px 2px 10px rgba(255, 254, 254, 0.833);
    }


    .content-info-4 {
        width: 100%;
        grid-template-areas:
            "desc desc desc desc"
            "prim prim sec sec";
    }

    .content-info-6 {
        width: 100%;
    }



    .footer {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        column-gap: 3rem;
        row-gap: 3rem;
        grid-template-areas:
            "c1 "
            "c2"
            "c3 " !important;

        .col2,
        .col3 {
            height: 40%;
            gap: 1rem !important;
        }
    }


}

@media only screen and (max-width: 480px) {

    .container {
        width: 90%;
    }

    nav {
        img {
            height: 3rem;
        }

        ul {
            gap: 0rem;
            flex-direction: column;
            align-items: flex-start;
        }

        li {
            align-self: flex-start;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .navitem1,
        .navitem2,
        .navitem3,
        .navitem4,
        .navitem5 {
            display: none;

        }

        .toggleNav {
            display: block;
        }
    }

    .content-block {
        background-size: cover;
        background-position: center;
    }

    .content-info {
        width: 100%;
        padding: 6rem 1rem;
        background-color: #ffffff55;
        backdrop-filter: blur(2px);
        text-shadow: 0px 2px 6px rgba(255, 254, 254, 0.833);
    }


    .content-info-4 {
        grid-template-areas:
            "desc desc desc desc"
            "prim prim sec sec";
    }

    .footer {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        column-gap: 3rem;
        row-gap: 3rem;
        grid-template-areas:
            "c1 "
            "c2"
            "c3 " !important;

        .col2,
        .col3 {
            height: 40%;
            gap: 1rem !important;
        }
    }


}