@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.banner {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: #333;
  background-image: url("./img/bannerpattern.png");
  display: grid;
  justify-content: center;
  align-items: center;
  transition: opacity;
  text-align: center;
}
.banner p {
  color: white;
}

nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  padding-top: 4rem;
  padding-bottom: 1rem;
  box-shadow: 0px 10px 20px rgba(81, 81, 81, 0.1);
  display: grid;
  align-items: center;
}
nav .navitem {
  display: block;
}
nav .toggleNav {
  padding: 0.4rem 1rem;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 0.6rem;
  display: none;
  position: fixed;
  top: 5rem;
  right: 1rem;
}
nav .zerkalo {
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
  position: fixed;
  background-color: #f7ca15;
  top: 5.1rem;
  right: 8rem;
  left: 8rem;
  text-align: center;
  display: none;
}
nav .active {
  display: block !important;
}
nav ul {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
nav li {
  list-style: none;
  align-items: baseline;
  cursor: pointer;
}
nav a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}
nav a:hover {
  color: #f7ca15;
  transition: 0.3s ease;
}

section,
header {
  margin-bottom: 5rem;
}

button {
  color: white;
  border: none;
  width: 100%;
  height: 4rem;
  border-radius: 100px;
  font-size: 0.9rem;
  cursor: pointer;
}

.primary {
  background-color: #f7ca15;
  grid-area: prim;
}

.secondary {
  grid-area: sec;
  background-color: #383838;
}

.content-block {
  border-radius: 50px;
  background-size: contain, cover, cover;
}

.content-info {
  border-radius: 50px;
  padding: 5rem;
  width: 50%;
  display: grid;
  grid-row-gap: 1.2rem;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "titl titl" "desc desc" "prim .";
}

.content-title {
  grid-area: titl;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}

.content-description {
  grid-area: desc;
  font-weight: 500;
  font-size: 0.9rem;
}

.content-block-1 {
  margin-top: 20vh;
  background: url(./img/img1.png) no-repeat right, url(./img/pattern.png) no-repeat, #f2f2f2;
}

.content-info-1 {
  grid-template-areas: "titl titl" "desc desc" "prim sec";
}

.content-block-2 {
  background: url(./img/img2.png) no-repeat right, url(./img/pattern.png) no-repeat, #f2f2f2;
}

.content-block-3 {
  background: url(./img/img3.png) no-repeat right, url(./img/pattern.png) no-repeat, #f2f2f2;
}

#cb3 {
  list-style-type: none;
  margin: 0;
  margin: 1.2rem 0;
}

#cb3 li {
  position: relative;
  display: flex;
  align-items: top;
  margin-bottom: 1rem;
}

#cb3 li::before {
  content: url(./img/dot.png);
  height: 1.2rem;
  width: 2rem;
}

.content-block-4 {
  border: 1px solid rgb(189, 189, 189);
}

.content-info-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "desc desc desc desc" "prim sec . .";
  width: 100%;
}

#faq {
  list-style-type: none;
  margin: 0;
  margin: 1.2rem 0;
  font-weight: 800;
  font-size: 1.3rem;
}
#faq p {
  font-weight: normal;
  font-size: 1rem;
  padding-left: 2rem;
}

#faq li {
  position: relative;
  display: flex;
  align-items: top;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#faq li::before {
  content: url(./img/sdot.png);
  height: 1.2rem;
  width: 2rem;
}

.content-block-5 {
  background: url(./img/img5.png) no-repeat right, url(./img/pattern.png) no-repeat, #f2f2f2;
}

.content-block-6 {
  border: 1px solid rgb(189, 189, 189);
  position: relative;
}

.content-info-6 {
  width: 100%;
  overflow-x: auto;
  padding: 5rem;
  overflow-x: auto;
  display: grid;
  grid-row-gap: 1.2rem;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.content-info-6 table {
  width: 50vw;
  border-collapse: collapse !important;
  border-spacing: 0;
  table-layout: fixed;
}
.content-info-6 img {
  width: 100%;
}
.content-info-6 th {
  font-size: 1.2rem;
}
.content-info-6 th,
.content-info-6 td {
  width: 200px;
  text-align: center;
  padding: 2rem;
}

.content-block-7 {
  background: url(./img/img7.png) no-repeat right, url(./img/pattern.png) no-repeat, #f2f2f2;
}

footer {
  background-color: #383838;
  padding-bottom: 3rem;
  padding-top: 3rem;
  color: white;
}
footer .col1 {
  grid-area: c1;
}
footer .col2 {
  grid-area: c2;
}
footer .col3 {
  grid-area: c3;
}
footer .footer {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  grid-template-areas: "c1 c2 c3" "c1 c2 c3" "c1 c2 c3";
}
footer .footer .col2,
footer .footer .col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}
footer .footer a {
  display: block;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
  .content-info {
    width: 60%;
    padding: 6rem 2rem;
    text-shadow: 0px 2px 10px rgba(255, 254, 254, 0.833);
  }
  .content-info-4 {
    width: 100%;
    grid-template-areas: "desc desc desc desc" "prim prim sec sec";
  }
  .content-info-6 {
    width: 100%;
  }
  .footer {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 3rem;
    grid-template-areas: "c1 " "c2" "c3 " !important;
  }
  .footer .col2,
  .footer .col3 {
    height: 40%;
    gap: 1rem !important;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }
  nav img {
    height: 3rem;
  }
  nav ul {
    gap: 0rem;
    flex-direction: column;
    align-items: flex-start;
  }
  nav li {
    align-self: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  nav .navitem1,
  nav .navitem2,
  nav .navitem3,
  nav .navitem4,
  nav .navitem5 {
    display: none;
  }
  nav .toggleNav {
    display: block;
  }
  .content-info {
    width: 60%;
    padding: 6rem 2rem;
    text-shadow: 0px 2px 10px rgba(255, 254, 254, 0.833);
  }
  .content-info-4 {
    width: 100%;
    grid-template-areas: "desc desc desc desc" "prim prim sec sec";
  }
  .content-info-6 {
    width: 100%;
  }
  .footer {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 3rem;
    grid-template-areas: "c1 " "c2" "c3 " !important;
  }
  .footer .col2,
  .footer .col3 {
    height: 40%;
    gap: 1rem !important;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
  nav img {
    height: 3rem;
  }
  nav ul {
    gap: 0rem;
    flex-direction: column;
    align-items: flex-start;
  }
  nav li {
    align-self: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  nav .navitem1,
  nav .navitem2,
  nav .navitem3,
  nav .navitem4,
  nav .navitem5 {
    display: none;
  }
  nav .toggleNav {
    display: block;
  }
  nav .zerkalo {
    display: block;
  }
  .content-block {
    background-size: cover;
    background-position: center;
  }
  .content-info {
    width: 100%;
    padding: 6rem 1rem;
    background-color: rgba(255, 255, 255, 0.831372549);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    text-shadow: 0px 2px 6px rgba(255, 254, 254, 0.833);
  }
  .content-info-4 {
    grid-template-areas: "desc desc desc desc" "prim prim sec sec";
  }
  .footer {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 3rem;
    grid-template-areas: "c1 " "c2" "c3 " !important;
  }
  .footer .col2,
  .footer .col3 {
    height: 40%;
    gap: 1rem !important;
  }
}/*# sourceMappingURL=style.css.map */